:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Open Sans", sans-serif;
}
body {
  display: grid;
  place-items: center;
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #006d77,
    #2f8288,
    #4d989a,
    #68aeac,
    #83c5be
  );
}
