#root {
  max-width: 1536px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  /* background: #f4eade; */
}

/* HTML tags */
span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: var(--h1-heading);
  font-family: var(--header-font);
}
h2 {
  font-size: var(--h2-heading);
  font-family: var(--header-font);
}
h3 {
  font-size: var(--h3-heading);
  font-family: var(--header-font);
}

p {
  font-family: var(--non-header-font);
}

/* Other Classes */
.nav {
  background: #000;
  color: white;
}

/* GridArticlePage styles */
.grid-main {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
}

.grid-center {
  grid-column: 2;
}

.grid-left {
  grid-column: 1;
  grid-row: 1 / span 2;
}

/* Tag-Items */
.tag-items {
  background-color: rgb(207, 82, 124);
  color: white;
  border-radius: 5px;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
}
