#root {
  max-width: 1536px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  background: #f4eade;
}

/* HTML tags */
span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--h1-heading);
  font-family: var(--header-font);
}
h2 {
  font-size: var(--h2-heading);
  font-family: var(--header-font);
}
h3 {
  font-size: var(--h3-heading);
  font-family: var(--header-font);
}

p {
  font-family: var(--non-header-font);
}

/* Flexbox */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

/* Spacers */
.gap-03rem {
  gap: 0.3rem;
}

.m-0 {
  margin: 0;
}

.m-1rem {
  margin: 1rem;
}

.p-1rem {
  padding: 1rem;
}

.p-top-1rem {
  padding-top: 1rem;
}

/* Other Classes */
.nav {
  background: #000;
  color: white;
}

.left-nav,
.right-nav {
  width: 30%;
  background: #457b9d;
}

.center {
  width: 100%;
  background: #a8dadc;
}

/* GridArticlePage styles */
.grid-main {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
}

.grid-center {
  grid-column: 2;
  background: #a8dadc;
}

.grid-left {
  grid-column: 1;
  grid-row: 1 / span 2;
  background: #457b9d;
  color: white;
}

.grid-right {
  background: #457b9d;
  color: white;
}
